@model BookLoansPorject.ViewModels.RegisterModel
@{
    ViewBag.Title = "Register";
}

<section class="h-80 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-80">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">
                                <div class="row">
                                    <h3>Registation</h3>
                                    @using (Html.BeginForm())
                                    {
                                        @Html.ValidationSummary()
                                        <div class="form-group row mb-1">
                                            <div class="col-12">
                                                @Html.TextBoxFor(x => x.Username, new { @class = "form-control", placeholder = "username..." })
                                                @Html.ValidationMessageFor(x => x.Username, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row mb-1">
                                            <div class="col-12">
                                                @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "password..." })
                                                @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row mb-1">
                                            <div class="col-12">
                                                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", placeholder = "password..." })
                                                @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <div class="d-flex justify-content-between">
                                                    <a class="btn btn-outline-success" href="/Accounts/login">Login</a>
                                                    <button type="submit" class="btn btn-primary">Registation</button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>